html{
    font-family: "Roboto", "Castoro", sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
    background: linear-gradient(0deg, #D6D5CB, #F2F3F5);
}
.pic{
    height: 350px;
    width: 380px;
    object-fit: cover;
}

.box{
    height: 320px;
    width: 260px;
}
/*Header section*/
.header{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    margin:0;
}
.header h1{
    margin-left: 2rem;
}
.header nav li{
    display: inline-flex;
    padding: 0.5rem;
}

.header nav a{
    text-decoration: none;
    color:blueviolet;
}

/*Banner Section*/

.hero{
    background-image: url(resources/img/banner-background.jpg);
    height: 26.25rem;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.hero h2, .hero h3{
    color: azure;
}

.hero h2{
    font-size: 4rem;
}
.hero h3{
    font-size: 1.5rem;
    font-family: "Castoro";
}

.hero h2{
    font-family: "Bruno Ace SC";
}

/*Main*/
.services{
    padding: 20px;
}
.services .main{
    text-align: center;
}
.services .items{
    display: flex;
    height: 55rem;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.services h2{
    font-family: "Castoro";
    font-size: 2rem;
}
.services .pic{
    text-align: center;
}


/*team*/
.team{
    text-align: center;
    padding: 10px;
    background-color:#737A82;
}
.names{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.names h4{
    margin: 0 auto;
}

.names h4{
    font-size: "Lobster";
    font-size: 1.2rem;
}
.team img{
    width: 100%;
    height: 100%;
}

.contact{
    padding: 12px;
}
/*Footer*/
footer{
    margin-left: 2rem;
}